# Volumes
!mysql/
!mongodb/
!mona-rtmp/
mysql/*
mongodb/*
mona-rtmp/*

# Logs
!**/logs/
**/logs/*

**/node_modules/*

# Stream
server/public/directos/*
!server/public/directos/hls.html
!server/public/directos/myapp.js
!server/public/directos/shaka-player.compiled.js