# Volumes
!mysql/
!mongodb/
!mona-rtmp/
mysql/*
mongodb/*
mona-rtmp/*

# Logs
!**/logs/
**/logs/*

**/node_modules/*


# Stream
server/public/directoV2/stream/*
!server/public/directoV2/stream/.gitkeep
