body {
    font-family: 'Lucida Sans', 'Lucida Grande', 'Geneva', Verdana, sans-serif;
    display: flex;
}

aside {
    position: absolute;
    right: 50px;
}

/* Ranking */

/*No filas */
#cabeza, #contenedor {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}
#cabeza {
    display: flex;
    flex-direction: column;
}
#imagen_xtra2 {
    display: flex;
    flex-direction: row;
}
#rondero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#rondero div {
    padding: 3px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    font-size: 23px;
    align-items: center;
    justify-content: center;
}
/* Cabecera */
#cabecera {
    display: flex;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    align-items: center;
    font-size: 22px;
}


.cabecera-item {
    text-align: center;
    border-right: 2px solid black;
    padding: 0 2px;
}
#cabecera .cabecera-item:last-child {
    border-right: none; 
}

#cab_pos, #cab_log {
    flex: 1;
}
#cab_pun {
    flex: 4;
}
#cab_tie {
    flex: 3;
}
#cab_pes , #cab_dor{
    display: none;
}
#cab_nom, #cab_pes{
    flex:2
}
/* Logo Xtra2 */
#imagen_xtra2 {
    height: 150px;
    width: 450px;
}
#imagen_xtra2 img {
    height: 100%;
    width: 100%;
}
/* Filas */
#contenedor {
    background-image: linear-gradient(to top, rgb(89, 0, 36, 0.65), rgba(0, 0, 0, 0.65));
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    flex: 10;
    border-radius: 10px;

}

.fila {
    display: flex;
    flex-direction: row;
    flex: 10;
    border: 2px solid black;
    height: 70px;
    padding: 5px;
    position: relative;
    left: 0;
    transition: left 0.2s ease;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.numero {
    min-width: 30px;
    min-height: 40px;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.logo {
    flex: 1;
    margin-left: 25px;
    height: 60px;
    width: 60px;
}

.resto, .fila_control_borrar, .fila_control_sumar {
    display: flex;
    flex-direction: row;
}

.resto {
    flex: 8;
}

.nombre, .tiempo, .peso, .puntos, .dorsal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px black;
}

.tiempo {
    flex: 3;
}
.puntos {
    flex: 4;
}
.peso , .dorsal {
    display: none;
}

.nombre, .dorsal {
    flex:2;
}
.dot {
    height: 15px;
    width: 15px;
    background: #00c8ff;
    border-radius: 50%;
}

/* Animaciones */
.tiempo, .peso {
    transition: opacity 0.5s ease;
}

/* Control */
#pilotos_mas_borrar, #pilotos_mas_sumar {
    background: rgba(52, 52, 52, 0.699);
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.fila_control_borrar *, .fila_control_sumar * {
    flex: 1;
}

.inputs {
    width: 50px;
}
