/* 
colores
Verde: #ACD160
Amarillo: #FFE55E
Granate Xtra2: #590024
 */
body {
    max-width: 1920px;
    max-height: 1080px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 90%;
    text-align: center;

    color: white;
    
}
div{
    position: fixed;
    top: 40%;
    right: 0%;
    left: 77.5%;
    display: inline-block;
    flex-direction: column;

    padding: 1%;
    
    background-image: linear-gradient(to top, rgb(89, 0, 36, 0.65), rgba(0, 0, 0, 0.65));

    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}
#logo{
    float: left;
    width: 90px;
    height: auto;

    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3%;

    border-radius: 6px;
}
#foto{
    float: right;
    width: 200px;
    height: 90px;

    margin-top: 2%;
    margin-bottom: 2%;

    border-radius: 6px;
}
#dorsal{
    float:left;
    width: 6%;

    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin-top: 2%;
    margin-bottom: 0%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.551);
    border-radius: 6px;
}
#acr{
    float:left;
    width: 18.7%;

    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 0%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.551);
    border-radius: 6px;
}
#nombre_grupo{
    float:left;
    width: 48%;

    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin-top: 2%;
    margin-bottom: 0%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.551);
    border-radius: 6px;
}
#uni{
    float: left;
    width: 93%;

    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin: 0%;
    margin-top: 3%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.551);
    border-radius: 6px;
}
#titulo_miembros{
    float: left;
    width: 10%;
    
    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin: 0%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
}
#miembros{
    float: left;
    width: 10%;
    
    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin: 0%;
    /* margin-top: 3%; */

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.551);
    border-radius: 6px;
}
#titulo_lider{
    float: right;
    width: 72%;  

    padding: 2%;

    margin: 0%;
    margin-right: 1%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
}
#nombre_lider{
    float: right;
    width: 72%;  
    
    padding: 3%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin: 0%;

    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.551);
    border-radius: 6px;
}