body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    display: flex;
}

aside {
    position: absolute;
    right: 50px;
}
/* Ranking */
#cabecera img {
    height: 100%;
    width: 60%;
}
#contenedor {
    background-color: rgba(52, 52, 52, 0.699);
    border-top-left-radius: 10px;
    width: 550px;
    margin: 20px 0px 0px 5px;
    display: flex;
    flex-direction: column;

    left: 0px;
    position: relative;
    transition: left 0.5s ease;
}
.fila {
    display: flex;
    flex-direction: row;
    flex: 10;
    border: 2px solid black;
    height: 70px;
    padding: 5px;

    position: relative;
    left: 0px;
    transition: left 0.2s ease;

    min-height: 60px;
}

.numero {
    width: 30px;
    background-color: white;
    border: 2px solid black;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 23px;
}
.logo{
    flex:1;
    margin-left: 15px;
}
.resto {
    flex:8;
    display: flex;
    flex-direction: row;
}

.tiempo{
    flex: 3
}
.nombre{
    flex:4;
}


/* Modificables */
.nombre, .tiempo, .peso{ /* Aquí solía estar #cabecera tambien cuando tenia texto */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;

    text-transform: uppercase;
    color: white;
    /*  https://css-tricks.com/adding-stroke-to-web-text/ */
    -webkit-text-stroke: 1px black;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #00c8ff; /* Color diferente de los que puede coger por si falla verlo */
    border-radius: 50%;
}

/*Animaciones de aparicion y desaparicion tiempos y peso */
.tiempo, .peso {
    transition: opacity 0.5s ease;
}
.peso{
    display: none;
    flex:2;
}

/* Control de piloto */
#pilotos_mas_borrar, #pilotos_mas_sumar{
    background-color: rgba(52, 52, 52, 0.699);
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
} 

.fila_control_borrar, .fila_control_sumar{
    display: flex;
    flex-direction: row;
}
.fila_control_borrar * , .fila_control_sumar * {
    flex:1;
}

.inputs{
    width: 50px;
}
