body {
    font-family: 'Lucida Sans', 'Lucida Grande', 'Geneva', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


aside {
    position: absolute;
    right: 50px;
}

/*Anunciero*/
#contenedor_anuncios {
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    color: white;
    transition: top 0.5s ease;
}

#anunciero {
    background-image: linear-gradient(to top, rgba(250, 180, 40, 0.65), rgba(199, 138, 207, 0.65), rgba(138, 75, 148, 0.65));
    width: 100%;
    min-height: 60px;
    max-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: center;
}