body {
    font-family: 'Lucida Sans', 'Lucida Grande', 'Geneva', Verdana, sans-serif;
    display: flex;
}

aside {
    position: absolute;
    right: 50px;
}

/*Anunciero*/
#contenedor_anuncios {
    width: 100%;
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: center;
    position: relative;
    top: 0px;
    transition: top 0.5s ease;
}

#anunciero {
    background-image: linear-gradient(to top, rgba(89, 0, 36, 0.65), rgba(0, 0, 0, 0.65));
    width: 60%;
    height: auto; 
    max-height: 150%; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    word-wrap: break-word;
    overflow: hidden;
}