* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: Arial, sans-serif;
    display: flex;
    background: transparent;
}

/*Anunciero*/
#contenedor_anuncios {
    width: 100%;
    display: flex;
    color: white;
    font-size: 1.75em;
    font-weight: bold;
    justify-content: center;
    position: relative;
    top: 0px;
    transition: top 0.5s ease;
}

#anunciero {
    background-image: linear-gradient(145deg, rgba(76, 110, 175, 0.92), rgba(101, 222, 241, 0.8));
    width: 45%;
    min-height: 10vh; 
    max-height: 150%; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    word-wrap: break-word;
    overflow: hidden;
}