html, body {
  background-image: linear-gradient(to top, rgba(250, 180, 40, 0.65), rgba(199, 138, 207, 0.65), rgba(138, 75, 148, 0.65));
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor_equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.logo-equipo {
  height: 80px;
  margin-bottom: 10px;
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.3));
}


.dato-equipo {
  font-size: 18px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
