/* Estilos para el cuerpo */
body{
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* Estilos para el bloque principal */
.bloque_info_extra{
    /*Posición del bloque principal — recuadro independiente */
    position: fixed;
    left: 2px;
    top: 460px;
    width: 280px;
    height: 160px;
    padding: 10px;
    background-image: linear-gradient(to top, rgba(76, 110, 175, 0.92), rgba(101, 222, 241, 0.8));

    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    border: 3px solid black;
    border-radius: 0px 10px 10px 0px;
    initial-letter: 10px;
}

.bloque_continuo {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea dos columnas iguales */
}

/* Estilos para el bloque de origen del equipo (ciudad/país + bandera) */
#origen_equipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

/* Estilos para el bloque del club/universidad + escudo */
#club_equipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

/* Estilos para el bloque de miembros del equipo */
#miembros_equipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

#miembros_label{
    font-weight: bold;
}

#miembros_resultado{
    /* Valor resaltado */
    color: orange;
}


/* Estilos para el bloque de victorias en la competición */
#victorias_equipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

/* Estilos para la etiqueta "Campeones:" */
#victorias_label{
    font-weight: bold;
}

/* Estilos para el resultado (Sí / No) */
#victorias_resultado{
    /* Valor resaltado */
    color: orange;
}

/* Estilos para los años */
#victorias_anos{
    /* Años de victoria */
    color: purple;
}