#contenedor {
    position: fixed;
    right: -2px;
    bottom: 20%;

    width: 500px;
    height: 300px;

    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(89, 0, 36, 0.65), rgba(0, 0, 0, 0.65));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloPlayer p {
    margin: 0 0 8px 0;
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.video-container {
    width: 100%;
    height: calc(100% - 30px);
}

#video {
    width: 100%;
    height: 100%;
    display: block;
}