/* Body */
body {
    margin: 0;
    padding: 0;
    background: transparent;
}

/* Bloque principal */
#main_block {
    position: fixed;
    left: 2px;
    top: 235px;

    width: 280px;
    height: 380px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to top, rgba(76, 110, 175, 0.92), rgba(101, 222, 241, 0.8));
    border-radius: 0px 10px 10px 0px;
}

#values_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;

    border-bottom: 2px solid white;

}

/* Cada bloque ocupa la mitad */
#latitude,
#length {
    flex: 1;

    display: flex;
    justify-content: space-between;

    font-size: 18px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}

/* Información del bloque*/
#telemetry_block {
    display: flex;

    width: 100%;
    height: 165px;
    border-bottom: 2px solid white;
}

#map_block {
    height: 165px;
    min-height: 165px;
    width: 100%;

    box-sizing: border-box;
}

.content {
    /* Indica las propiedades del contenido */
    display: flex;
    font-size: 12px;
    color: white;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}