/* Holi, cuidado con el copy :) */
/* Ahora estoy jugando un poco con css me aburro en clase */
/* Archivo css donde se estiliza el archivo vuelos.html */
/* Todos los colores añadidos son solamente de prueba */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
}


#bloque_vuelos {
    /* Estilos para el bloque principal de vuelos */
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blue;
}

#equipo_en_vuelo {
    /* Estilos para el nombre del equipo en vuelo */
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blue;
}

#logo_equipo_en_vuelo {
    /* Estilos para el logo del equipo en vuelo */
    display: flex;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

#volumen_equipo_en_vuelo {
    /* Estilos para el volumen del equipo en vuelo */
    display: flex;
    width: 100%;
    height: 100%;
    background-color: green;
}

#puntuacion_equipo_en_vuelo {
    /* Estilos para la puntuación del equipo en vuelo */
    display: flex;
    width: 100%;
    height: 100%;
    background-color: purple;
}

#informacion_extra_equipo_en_vuelo {
    /* Estilos para la información extra del equipo en vuelo */
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}