*{
	margin: 0;
	padding: 0;
}


p{
	padding: ;
	font-family: Verdana;
	color: white;
	filter: drop-shadow(0px -5px 16px #000000);
}

#title{
	font-size: 350%;
	font-weight: 700;
}

#text{
	font-size: 175%;
	font-style: italic;

}

#container{
	background-color: rgba(0,0,0,0);
	display: flex;
	position: fixed;
	bottom: 10%;
	left: 5%;
	width: max-content;
	height: 12%;
	gap: 20px;

}
#information{
	opacity: 0;
	/*animation: fadeIn 3s ease 2s 1 normal forwards,fadeIn 2s ease 10s 1 reverse forwards;*/
	animation: fadeIn 3s ease 0s 1 normal forwards,fadeIn 3s ease 12.5s 1 reverse forwards;
}

#square{
	background-color: #3E1018;
	opacity: 0;
	/*animation: size 2s ease 0s,visible 10s linear 2s,size 2s ease 12s  reverse;*/
	animation: size 2s ease 2.5s,visible 7s linear 4.5s,size 2s ease 11.5s  reverse;
	width: 20px;
	height: 100%;
}

/*


	ANIMATION


*/


@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes size {
	0%{
		opacity:1;
		transform: scaleY(0);
	}
	100%{
		opacity:1;
		transform: scaleY(1)
	}


}
@keyframes visible{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
